.image-container{
    width: 100%;
    height: auto; 
    position: relative;
    overflow: hidden;
    margin: auto;
    border-radius: 100%;
}

.image-container  img{
    width:100%;
    height: 100%;
}

.image-container .image-overlay{
    position: absolute;
    top: 60%;
    left: auto;
    right: auto;
    width: 100%;
    height: 100%;
    color: #FFF;
    background-color: rgba(0,0,0,0.2);
    text-align: center;
  /* border-radius:100%;*/
    transition-property: background-color;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
    padding-top: 10px;
}

.image-container:hover .image-overlay{
    background-color: rgba(0,0,0,0.5);
}


.mainContainer{
    margin-top:65px;
}

.mainJumbotron{
    height:100vh;
    min-height:100vh;
    margin: 0px; 
    background-image: url('../img/agenda.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat;
}

.mainJumbotron .page-header{
    text-shadow:1px 4px 10px black;
    color:white;
}

.mainJumbotron .sub-page-header{
    margin-left:25px; color:white
}

.mainJumbotron .buttons-container{
    margin-top: 50px
}

.min100{
    min-width:100px;
}
}